.business-card-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 1rem;
    width: 320px;
    height: 509px;
	border-radius: 10px;
	box-shadow: 0 8px 40px rgba(#000000, .2);
    flex-wrap: wrap;
}

.business-card-form span label {
    margin-right: 1em;
}

